

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Elementos de link */
a {
    font-size: xx-large;
    text-decoration: none;
    color: #b8d1ff;
}

/* Cabeçalho */
header {
    font-family: "Bebas Neue", sans-serif;
    background-color: pink;
    padding: 20px;
}

header h1 {
    font-family: "Bebas Neue", sans-serif;
    background-color: pink;
    padding: 20px;
    text-align: left;
    font-size: 60px;
    color: white;
}

/* Menu de disciplinas */
.menu-disciplina {
    width: 20%;
    display: inline-block;
    position: relative;

}

.botao-disciplinas {
    cursor: pointer;
    font-size: 2rem;
    background: none;
    background-color: mediumslateblue;
    border: none;
    padding: 1.05rem 1.5rem;
    color: #b8d1ff;
}

/* Lista vertical (dropdown) */
.lista-vertical {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: mediumslateblue;
    box-shadow: 0 2px 5px midnightblue;
    min-width: 190px;
    z-index: 1000;
    top: 100%;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 3s ease, transform 3s ease;
}

.lista-vertical a {
    color: #b8d1ff;
    padding: 0.75rem 1rem;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    text-align: center;
}

.lista-vertical a:hover {
    background-color: mediumslateblue;
}

/* Controle do menu toggle */
#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .lista-vertical {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

#menu-toggle:checked + .botao-disciplinas {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between; /* Distribui o título e o menu */
    align-items: center; /* Alinha verticalmente */
}
.painel {
    background-image: url(painel(1).png);
    align-items: center;
}