<style>

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
</style>
header h1 {
    background-color: pink;
    padding: 20px;
    text-align: left;
    font-size: 24px;
    color: white;
}
header {
    
font-style: var(.googleapis);
    background-color: pink;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
}
a {
    text-decoration: none;
    color: #b8d1ff;
}
