

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
header h1 {
    font-family:  "Bebas Neue", sans-serif;
    background-color: pink;
    padding: 20px;
    text-align: left;
    font-size: 60px;
    color: white;
}
header {
    
    font-family:  "Bebas Neue", sans-serif;
    background-color: pink;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.menu-disciplina {
    width: 20%;
    display: inline-block;
}
.botao-disciplinas {
    cursor: pointer;
    font-size: 2rem;
    background: none;
    background-color: mediumslateblue;
    border: none;
    padding: 1.05rem 1.5rem;
    color: #b8d1ff;
}
a {
    font-size: xx-large;
    text-decoration: none;
    color: #b8d1ff;
}

#menu-toggle {
    display: none;
}
.lista-vertical {
    display: none;
    position: absolute;
    background-color: mediumslateblue;
    box-shadow: 0 2px 5px midnightblue;
    min-width: 190px;
    z-index: 1;
    top: 100%;
}
.lista-vertical a {
    color: #b8d1ff;
    padding: 0.75rem 1rem;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    text-align: center;
}

.lista-vertical a:hover {
    background-color: mediumslateblue;
}
#menu-toggle:checked ~ .lista-vertical {
    display: block;
}
#menu-toggle:checked + .botao-disciplinas {
    background-color: black;
}